<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mapping Injustice</title>


   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <!--MapboxGL-->
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.css' rel='stylesheet' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.js"></script>







    <div id="map" class="mapboxgl-map">
        <div class="mapboxgl-canvas-container mapboxgl-interactive">
            <canvas class="mapboxgl-canvas" tabindex="0" width="2560" height="300" style="position: absolute; width: 1280px; height: 150px; cursor: default;">

            </canvas>
        </div>
    </div>
    <style>
        #map {
            position:absolute;
            top: 70%;
            bottom:20px;
            margin-left: 30%;
            width:50%;
        }
        h2{
            margin-top: 70px;
            /*font-size: 1.2em;*/
        }
        hr{
            border: 0;
            height: 1px;
            background: #333;
            background-image: linear-gradient(to right, #ccc, #333, #ccc);
        }
        label{
            /*margin-left: 30%;*/
            width: 35%;
        }
        .radio-inline{
            margin-left: 3px;
            width: 10%;
        }
        /*button{*/
        /*margin-left: 37%;*/
        /*width: 10%;*/
        /*}*/
        .input-xlarge{
            /*margin-left: 1%;*/
            width: 45%;
        }

        #button1{
            margin-left:70%;
            width:28%;
        }
        #button2{
            width:28%;
        }
    </style>

</head>




<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Mapping Injustice</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="map">Map</a>
                    </li>
                    <li>
                        <a href="upload">Upload</a>
                    </li>
                </ul>
<!--                 <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Login</a></li> -->
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->

<div ng-app="myShoppingList" ng-controller="myCtrl" class="container">
      <div class="row">
         <form class="form-horizontal">
            <fieldset>
                <!-- Address form -->
                <h2>Upload New Properties</h2>
                <!--gray line-->
                <hr />
                <!-- address-line1 input-->

                   <div class="control-group col-xs-12 col-sm-6 col-md-6 col-lg-12">
                       <label class="control-label">Address 1</label>
                          <input ng-model="addMe" id="address-line1" name="address-line1" type="text" placeholder="Address line 1"
                           class="input-xlarge" >
                   </div>

                <!-- addressline2 input-->
                <div class="control-group col-xs-12 col-sm-6 col-md-6 col-lg-12">
                    <label class="control-label">Address 2</label>

                        <input id="address-line2" name="address-line2" type="text" placeholder="Address line 2" class="input-xlarge">


                </div>

                <!-- city input-->
                <div class="control-group col-xs-12 col-sm-6 col-md-6 col-lg-12">
                    <label class="control-label">City</label>

                        <input ng-model="typeahead" id="city" name="city" type="text" placeholder="City"
                               class="input-xlarge" data-provide="typeahead"
                               data-source='["Alabama", "Alaska", "Wisconsin", "Wyoming"]'>

                </div>

                <!-- state input-->
                <div class="control-group col-xs-12 col-sm-6 col-md-6 col-lg-12">
                    <label class="control-label">State</label>

                        <select id="state" name="state" type="text" placeholder="State"
                        class="input-xlarge">
                            <option value = "GA" selected = "selected">Georgia</option>
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="FL">Florida</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                        </select>
                        <p></p>

                </div>

                <!-- zipcode input-->
                <div class="control-group col-xs-12 col-sm-6 col-md-6 col-lg-12">
                    <label class="control-label">Zip Code</label>

                        <input id="zipcode" name="zipcode" type="text" placeholder="Zip Code"
                        class="input-xlarge">

                </div>
                <div class="control-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <label class="control-label">Company involved in this transaction:</label>


                    <label class="radio-inline"><input type="radio" name="optradio" checked> Company 1</label>
                    <label class="radio-inline"><input type="radio" name="optradio"> Company 2</label>
                    <label class="radio-inline"><input type="radio" name="optradio"> Company 3</label>
                    <label class="radio-inline"><input type="radio" name="optradio"> Company 4</label>
                </div>
                <br>

                <div class="control-group col-xs-12 col-sm-6 col-md-6 col-lg-12">
                    <label class="control-label">Or, input the company name here:</label>


                    <input type="text" id="companyName" class="input-xlarge">
                </div>


            </fieldset>

        </form>


          <!--<div class="field col-md-12">-->
              <!--<br><button ng-click="addItem()" type="button" class="btn btn-primary" onclick="Upload()">Preview</button>-->
          <!--</div>-->
          <div class="control-group col-xs-6 col-sm-6 field col-md-6 col-lg-6">
              <br><button ng-click="addItem()" type="button" id="button1" class="btn btn-primary" >Preview</button>
          </div>
          <div class="control-group col-xs-6 col-sm-6 field col-md-6 col-lg-6">
              <br><button ng-click="insert()" type="button" id="button2" class="btn btn-primary" >Submit</button>
          </div>

     </div>
</div>















    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiaGZlbmciLCJhIjoiY2lzdndodTI0MDJvYjJ5cGd5ZnI2ZmJnNyJ9.D4VXSWW1-uWiSiB4bYRXOw';
        //create map
        var map = new mapboxgl.Map({
            container: 'map', // container id
            //style: 'mapbox://styles/examples/cinm8cuw30024adnctbjra0zy' // map style URL from Mapbox Studio
            style:'mapbox://styles/hfeng/civpe7lkb00322joxsyv8giwr'

        });
        var temp1;

        var point=2;
        var app = angular.module("myShoppingList", []);
        app.controller("myCtrl", function($scope,$http) {
            var i=0;
            $scope.addItem = function () {


//            temp1 = $scope.addMe;
//            str = '/address/'+temp1;
//            if(str!=null){
//
//                $http.get(str).success(function(data){
//                    //$scope.demo=data;
//                    //alert( "Load was performed. " + data );
//                    console.log(data);
//
//                    console.log('OK!');
//                });
////                $http.get("/fetch").success(function(data){
////                    console.log(data);
////                });
//
//            }
                var address;
                address =$scope.addMe;
//            geocoder.query(address);
//            console.log(address);



                $http.get("/address/"+address).success(function(data){
                    console.log(data);
                    var str = i+"";
                    i++;
                    point=data;
                    map.addSource(str, {
                        "type": "geojson",
                        "data": {
                            "type": "FeatureCollection",
                            "features": [{
                                "type": "Feature",
                                "properties": {
                                    "description": "<strong>Make it Mount Pleasant</strong>",
                                    "icon": "theatre"
                                },
                                "geometry": {
                                    "type": "Point",
                                    "coordinates": data
                                }
                            }]
                        }
                    });

                    // Add a layer showing the places.
                    map.addLayer({
                        "id": "places",
                        "type": "symbol",
                        "source": str,
                        "layout": {
                            "icon-image": "{icon}-15",
                            "icon-allow-overlap": true
                        }

                    });


                });


            }
            $scope.insert = function(){
                $http.get("/insert/"+point).success(function(data){
                    console.log(data);
                });
            }
        });






        var popup = new mapboxgl.Popup({
            closeButton:false,
            closeOnClick:false
        });
        map.on('mousemove', function (e) {
            var features = map.queryRenderedFeatures(e.point, { layers: ['places0'] });
            // Change the cursor style as a UI indicator.
            map.getCanvas().style.cursor = (features.length) ? 'pointer' : '';

            if (!features.length) {
                popup.remove();
                return;
            }

            var feature = features[0];

            // Populate the popup and set its coordinates
            // based on the feature found.
            popup.setLngLat(feature.geometry.coordinates)
                    .setHTML(feature.properties.description)
                    .addTo(map);
        });
    </script>



</body>

</html>
